[submodule ".config/vifm/colors"]
	path = .config/vifm/colors
	url = https://github.com/vifm/vifm-colors
[submodule ".config/vifm/scripts/vifm_devicons"]
	path = .config/vifm/scripts/vifm_devicons
	url = https://github.com/cirala/vifm_devicons
[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/cfelipe/dwm
[submodule ".config/dwmblocks"]
	path = .config/dwmblocks
	url = https://github.com/cfelipe/dwmblocks
