[submodule ".config/vifm/colors"]
	path = .config/vifm/colors
	url = https://github.com/vifm/vifm-colors
[submodule ".config/vifm/scripts/vifm_devicons"]
	path = .config/vifm/scripts/vifm_devicons
	url = https://github.com/cirala/vifm_devicons
[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/cfelipe/dwm
[submodule ".config/dwmblocks"]
	path = .config/dwmblocks
	url = https://github.com/cfelipe/dwmblocks
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
